@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  /* icon */
  .social-icon {
    @apply text-orange-600 text-[22px] rounded-full p-2 bg-white
  }




  .footerIcon {
    @apply text-orange-600 text-base mr-2
  }

  .head-card {
    @apply text-red-500 text-4xl
  }
}


/* hero section */
.custom-img {
  background-image: url('../../public/assets/images/hero (1).png');

}

.img-style {
  transition: all 0.7s linear;

  &:hover {
    transform: scale(.95);
  }
}

/* work section */

.work-container {
  height: 245px;
  width: 245px;
  border-radius: 100%;
  box-shadow: 0px 0px 22px rgba(18, 104, 217, 0.08);
  background-color: white !important;
  text-align: center;
}

.child-circle {
  height: 210px;
  width: 210px;
  border-radius: 100%;
  border: 6px solid #d9d8df;
}

.mini-circle {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background-color: green;
  color: white !important;
  position: absolute;
  top: 35px;
  right: 20px;
}


/* template section */
.template-section {
  background-color: rgb(240, 245, 245);

  .button-styles {
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(99, 98, 98);
    font-size: 18px;
    margin: 0 10px;
    width: 90px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(99, 98, 98);

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: #f3510c;
      top: 100%;
      left: 0;
      transition: all 0.5s linear;
    }

    &.active-btn {
      color: #f3510c;

      &::after {
        width: 100%;
      }
    }
  }

  /* cv and resume list */
  .render-cv-list-widget {
    .img-block {
      cursor: pointer;
      border-radius: 10px;
      transition: all 0.3s linear;

      &:hover {
        box-shadow: 0px 1px 8px rgba(203, 198, 198, 1);
      }
    }
  }

  .show-more-btn {
    width: auto;
    border-bottom: none;
    color: #f3510c !important;
    border: 1px solid #f3510c;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 20px !important;
    border-radius: 5px;
    transition: all 0.3s linear;
  }

  .disable-show-more-btn {
    color: gray !important;
    border-color: gray !important;
    cursor: no-drop;
  }
}




/* choose us section */

.box-1 {
  background-color: #eceeff;
  border-radius: 8px;

  .img-styles {
    background-color: rgba(18, 104, 217, 0.108);
    padding: 10px;
    border-radius: 100%;
  }
}

.box-2 {
  background-color: #fff6ec;
  border-radius: 8px;

  .img-styles {
    background-color: rgba(253, 158, 47, 0.12);
    padding: 10px;
    border-radius: 100%;
  }
}

.box-3 {
  background-color: #ebffee;
  border-radius: 8px;

  .img-styles {
    background-color: rgba(40, 188, 141, 0.12);
    padding: 10px;
    border-radius: 100%;
  }
}



/* preview section */

.build-container {
  background-color: rgb(240, 245, 245);

  

}


/* select type section */
.box-container {
  max-width: 300px;
  width: 100%;
  height: 220px;
  border: 2px solid #dad9df;
  border-radius: 10px;
  padding-bottom: 0px !important;
  transition: all 0.4s linear;
  cursor: pointer;

  @media (max-width: 567px) {
    margin: 15px;
  }
}

/* menu widget */
.menu-widget {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 15px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 0 5px;
      padding-right: 15px !important;
      padding-left: 10px !important;
      height: 40px;
      color:#575c6b;
      font-weight: 600;
      font-size: 14px;
      background-color: #dad9df;
      border-radius: 50px;
      text-align: center;
      display: flex;
      gap: 5px;
      place-items: center;
      position: relative;
      transition: all 0.3s linear;
      /* font-size: 28px; */
      cursor: no-drop;
      white-space: nowrap;

      &:hover {
        background-color: #c8c7cf;
      }

      &.completed,
      &.current-btn {
        cursor: pointer !important;
      }

      span {
        background-color: #fff;
        padding: 5px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        color: #575c6b;
        padding-top: 3px !important;
      }

      .current-circle {
        background-color: #ff7800;
        color: #fff;
        text-align: center;
      }

      &.completed {
        background-color: #8ac9b4;

        &:hover {
          background-color: #73bea5;
        }
      }

      &.active-btn {
        background-color: #25b27e;
        color: #fff;

        &:hover {
          background-color: #1f966a;
        }
      }

      &.current-btn {
        background-color: #ffe2d2 !important;
        border: 1px solid #ff7800 !important;
        border-radius: 50px !important;
        color: #ff7800 !important;

        &:hover {
          background-color: #ffccb0 !important;
        }
      }

      &.required-btn,
      &.optional-btn {
        color: #fff !important;

        &:hover {
          filter: brightness(0.9);
        }
      }

      &.required-btn {
        background-color: #fd4d45 !important;
      }

      &.optional-btn {
        background-color: #fd9e2f !important;
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        width: 50px;
        height: 2px;
        background-color: #dad9df;
      }

      @media (max-width: 1250px) {
        &:nth-child(8)::after {
          background-color: transparent !important;
        }
      }

      @media (max-width: 1200px) {
        &:nth-child(7)::after {
          background-color: transparent !important;
          width: 0 !important;
        }
      }

      @media (max-width: 992px) and (min-width: 767px) {
        &:nth-child(5)::after {
          background-color: transparent !important;
        }
      }

      @media (max-width: 768px) {

        &:nth-child(3)::after,
        &:nth-child(7)::after {
          background-color: transparent !important;
        }
      }

      @media (max-width: 576px) {
        &::after {
          background-color: transparent !important;
          width: 0 !important;
        }
      }
    }
  }
}

/* modal img box */
.img-box {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #f8fbff;
  cursor: pointer;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  display: grid;
  place-items: center;
  padding: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.3s linear;
}

.button-wrapper {
  padding-top: 20px;
  .common-btn {
      display: grid;
      place-items: center;
      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
      height: 40px;
      font-size: 14px;
      min-width: 122px;
      border-radius: 20px;
      background-color: #ff7800;
      color: #fff;
  }
  .crop-img {
      background-color: #ff7800;
      color: #fff;
  }
  .disable-btn {
      cursor: no-drop;
      background-color: #9ca2b1;
  }
}




/* // personal-info component styles will be define here */
#cv-personal-info-container {
    padding-bottom: 32px !important;
    background-color: #fff;
    h3 {
        font-weight: 600;
        color: #22212f;
        font-size: 26px;
        line-height: 150%;
        letter-spacing: 0.005em;
        @media (max-width: 576px) {
            font-size: 20px;
        }
    }
    p {
        font-size: 20px;
        line-height: 28px;
        color: #575c6b;
        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    .heading-widget {
        p {
            padding: 10px 0 30px 0;
        }
    }

    .form-widget {
        form {
            label {
                font-size: 14px;
                color: #4d4d4d;
            
                font-size: 18px;
                line-height: 20px;
                padding: 0 0 8px 0;
                white-space: nowrap;

                .required-sign {
                    color: #ff7800;
                }
            }

            input,
            textarea {
                outline: none;
                padding: 8px;
                margin: 0;
                background: #f8fbff;
                border: 1px solid #eeeeee;
                border-radius: 2px;
                color: #22212f;
                box-shadow: none;
                font-size: 18px !important;
            }
            input:-webkit-autofill {
                background-color: transparent !important;
                -webkit-box-shadow: 0 0 0 50px white inset;
            }

            p {
                padding: 5px 0 0 0;
                font-size: 15px;
                color: #fd4d45;
                @media (max-width: 1200px) {
                    line-height: normal;
                }
            }

            ::placeholder {
                color: #575c6b;
                font-weight: 300;
                font-size: 18px;
                opacity: 0.5;
            }

            .personal-next-btn {
                letter-spacing: 0px !important;
                &:hover {
                    letter-spacing: 0.25px;
                    &::after {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .cancel-btn {
                background-color: #fff !important;
                color: #9ca2b1 !important;
                box-shadow: none !important;
                border: 1px solid #dad9df;
                border-radius: 4px;
                letter-spacing: 0px !important;
                width: 132px;
                height: 48px;
                padding: 0;
                margin: 0;

                &:hover {
                    letter-spacing: 0.25px;
                    &::after {
                        width: 0;
                        height: 0;
                    }
                }
            }

            .personal-next-btn {
                width: 132px;
                height: 48px;
                padding: 0;
                margin: 0;
            }

            .social-widget {
                .personal-info-social-link {
                    margin-bottom: 5px;
                }
                p {
                    padding-bottom: 8px !important;
                    text-align: left !important;
                 
                    font-size: 14px;
                    margin: 0 !important;
                }
                .drop-dwn-widget {
                    select {
                        box-shadow: none;
                        outline: none;
                        background-color: #f8fbff;
                        border: 1px solid #dad9df;
                        border-radius: 2px;
                        padding: 8px;
                        font-size: 18px;
                        text-align: start;
                        opacity: 0.5;
                        option {
                            color: #4d4d4d !important;
                            text-transform: capitalize;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 18px;
                        }
                    }
                    select[data-gtm-form-interact-field-id] {
                        background-color: #fff;
                        opacity: 1;
                    }
                }
            }
        }

        .add-social-btn {
            display: inline-flex;
            align-items: center;
            margin: 4px 0 32px 0;

            .button-add-widget {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.48px;
                color: #0d3c9f;
                border: 1px solid #0d3c9f;
                border-radius: 2px;
                padding: 6px 15px;
                cursor: pointer;
                transition: all 0.3s linear;

                &:hover:not(.de-active-btn) {
                    background-color: #0d3c9f;
                    color: #fff;
                }

                &.de-active-btn {
                    color: #999;
                    cursor: no-drop;
                    border-color: #999;
                }
            }
            .remain-portion {
                color: #ff7800;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.54px;
            }
        }

        .delete-btn {
            cursor: pointer;
        }

        .btn-widget {
            .save-exit-btn {
                background-color: #fff !important;
                color: #ff7800;
                border-radius: 2px;
                font-size: 20px;
                border: 1px solid #ff7800;
                padding: 7px 25px;
                transition: all 0.3s linear;
                &:hover {
                    background-color: #ff7800 !important;
                    color: #fff;
                }

                @media (max-width: 1200px) {
                    margin-right: 1.7rem !important;
                }
            }

            @media (max-width: 992px) {
                flex-direction: column-reverse !important;
                gap: 25px;
                button {
                    width: 100%;
                }
            }

            @media (max-width: 992px) {
                .button-group-wrapper {
                    display: flex !important;
                    flex-direction: column-reverse !important;
                    .save-exit-btn {
                        margin-top: 25px;
                    }
                }
            }
        }
    }

    .image-form-group {
        > .row {
            @media (min-width: 1400px) {
                --bs-gutter-x: 0rem;
            }
        }

        .custom-file {
            position: relative;
            transition: all 0.3s linear;

            .image-with-delete-icon-wrapper {
                width: 150px;
                display: flex;
                align-self: center;
                justify-content: space-between;
                .del-icon {
                    cursor: pointer;
                }
            }

            @media (max-width: 1200px) and (min-width: 968px) {
                margin: 0 10px;
            }

            .close-icon-widget {
                position: absolute;
                right: 22px;
                top: 32px;
                display: none;
                z-index: 100;
                .icon-widget {
                    cursor: pointer;
                }
            }

            .input-label {
                &:hover {
                    > .close-icon-widget {
                        display: block;
                    }
                }
            }

            @media (max-width: 1200px) {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
            }
            p {
                padding: 0;
                margin: 0 0 5px 0;
                font-weight: 400;
                font-size: 18px;
                color: #4d4d4d;
            }

            > p {
                word-break: break-all;
                font-size: 15px;
                width: 150px;
                padding: 0;
                line-height: 1.3;
                margin: 0;
            }

            .custom-file-label-box {
                width: 150px;
                height: 160px;
                background: #f8fbff;
                border: 1px solid #eeeeee;
                border-radius: 2px;
                display: grid;
                place-items: center;
                padding: 0;
                overflow: hidden;
                position: relative;
                transition: all 0.3s linear;
                z-index: 1;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
            .custom-file-label-btn {
                padding: 6px 0px;
                margin: 16px 0;
                font-weight: 400;
                font-size: 13px;
                width: 150px;
                height: 32px;
                text-align: center;
                cursor: pointer;
                letter-spacing: 0px !important;

                @media (min-width: 1199px) and (max-width: 1400px) {
                    /* // width: 100%; */
                    height: 100%;
                }

                &:hover {
                    &::after {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}